@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-pretendard: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
  --color-primary: #3b82f6;
  --color-secondary: #64748b;
  --color-accent: #f97316;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-pretendard);
}
